/*  Header e hijos */

.fa-shoe-prints{
    color: #FFCCE0;
}

#title{
    cursor: default !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* footer */
.footer{
    background-color: #FFCCE0;
}

/* contenido dashboard */
.panel-title{
    background-color: #FFCCE0;
}
h2.title {
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
    transition: all 0.4s;
}
.card:hover{
    transform: translateY(5px);
    color: #FFCCE0;
    background: #2e2e2e;
}

/* botones en los formularios */
.buttons{
    background-color: #000;
    color: #fff;
    transition: .5s;
}
.buttons:hover{
    background-color: #ffffff;
    color: #fd90bc;
    border: 1px solid #FFCCE0;
    font-size: medium;
    transition: .5s;
    border-color: #fba3c6;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

/* contenido */
.shadow{
    box-shadow: 5px 5px 5px 1px rgba(114, 114, 114, 0.5) !important;
    border-radius: 5px;
}




.nav-link{
    transition: all 0.5s;
}

.perfil{
    border: 1px !important;
    border-color: black;
}

.uwu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.5s;
    border-radius: 5px;
}

.uwu:hover{
    background: #FFCCE0;
}

.uwu i{
    transition: all 0.5s;
}

.uwu:hover i{
    scale: 150%;
}

.buttons2{
    background-color: #FFCCE0;
    color: #FFF;
    transition: .5s;
}
.buttons2:hover{
    background-color: #ffffff;
    color: #FFCCE0;
    transition: .5s;
    border-color: #FFCCE0;
}

.links{
    border-radius: 5px;
    text-align: center;
    width: 9rem;
    transition: all 0.5s;
}

.links:hover{
    background-color: #FFCCE0;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.image-upload > input{
    display: none;
}

.image-upload img
{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

tbody, td, tfoot, th, thead, tr {
    border-color: #000;
    border-style: solid;
    border-width: 0;
}


table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}