.btn-primary {
    --bs-btn-color: #2d2d2d;
    --bs-btn-bg: #ffcce0;
    --bs-btn-border-color: #ffcce0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fca2c6;
    --bs-btn-hover-border-color: #fca2c6;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    box-shadow: 5px 5px 5px .5px rgba(0, 0, 0, 0.50);
}
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido .col-md-6:first-child {
    padding-right: 30px; 
}

.contenido .col-md-6:last-child {
    padding-left: 30px; 
}

.card-login{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 5px .5px rgba(34, 34, 34, 0.5) !important;
}

.footer-login{
    font-size: 10px;
    text-align: center;
}