{% extends 'index.html'%}

{% block content %}

<div class="container">
    <h1 class="text-center mt-5">Restablecimiento de contraseña</h1>

    {% if mensaje %}
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: '{{mensaje}}',
            showConfirmButton: false,
            timer: 1800
        })
    </script>
    {% endif %}


    {% load static %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <form method="POST" action="{% url 'resetLink' %}">
                {% csrf_token %}
                <div class="form-floating" id="reset-form-content" {% if sent %}style="display: none;" {% endif %}>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Correo Electronico"
                        required>
                    <label for="email" class="form-label">Correo electrónico:</label>
                </div>
                <div class="text-md-center mt-3">
                    <button type="submit" class="btn buttons mt-3">Solicitar Restablecimiento</button>
                </div>
            </form>
        </div>
    </div>

    {% if error_message %}
    <script>
        swal("Error", "{{ error_message }}", "error");
    </script>
    {% endif %}
    <img src="{% static 'images/logo.png'%}" alt="logo" width="200" >
    <p>
        <small>
            | <a href="{% url 'login' %}" class="nav-item">Iniciar sesión</a> |
        </small>
    </p>
    <br>
    <br>
    <br>
</div>

{% endblock %}