{% extends 'tienda/index.html' %}
{% block content_main %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Contáctanos</h2>
            <p>¡Estamos encantados de escucharte! Si tienes alguna pregunta, comentario o sugerencia, no dudes en
                contactarnos. Nuestro equipo de atención al cliente estará encantado de ayudarte y resolver cualquier
                duda que puedas tener. Puedes comunicarte con nosotros a través de los siguientes medios:</p>
            <ul>
                <li><strong>Teléfono:</strong> (+57) 316 759 96 27</li>
                <li><strong>Correo Electrónico:</strong> <a
                        href="mailto:adrileboutique@gmail.com">adrileboutique@gmail.com</a></li>
                <li><strong>Dirección:</strong> Carrera 9a # 4-17
                    Palermo, Huila, Colombia</li>
            </ul>
        </div>
        <div class="col-md-6">
            <form id="contactForm" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Nombre" required>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Enviar</button>
            </form>

        </div>
    </div>
</div>

<script>
    document.getElementById("contactForm").addEventListener("submit", function (event) {
        event.preventDefault();
        var form = event.target;
        var formData = new FormData(form);
        fetch("/contact/", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.result === "success") {
                Swal.fire('Mensaje', data.message, 'success');
                form.reset();
            } else if (data.result === "error") {
                Swal.fire('Mensaje', data.message, 'error');
            } else {
                Swal.fire('Mensaje', data.message, 'info');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
