<!DOCTYPE html>
<html>
<head>
    <title>Entrada de Inventario</title>
</head>
<body>
    <h1>Registrar Entrada de Inventario</h1>
    <form method="post">
        {% csrf_token %}
        {{ compra_form.as_p }}
    
        <!-- Aquí puedes agregar un formulario para ingresar detalles de productos -->
        {{ detalle_form.as_p }}
    
        <!-- Puedes agregar más campos de detalles aquí si es necesario -->
    
        <input type="submit" value="Guardar Compra">
    </form>
</body>
</html>
