{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/svg/image.svg' %}" class="rounded icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adrile Boutique</title>
    <!--jquery-->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <!-- bootstrap local -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.1-dist/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.2-web/css/all.min.css' %}">
    <!-- toarst -->
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <!-- estilos locales -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <header class="d-flex bg-dark text-white align-items-center">
        {% block header %}
        <div>
            <img src="{% static 'images/imageLogo3.png' %}" alt="" width="70">
        </div>
        <div class="mx-5 fs-1">
            Gestion Inventario Adrile Boutique
        </div>
        {% endblock %}
    </header>

    <nav>
        {% block nav %}
        {% endblock %}
    </nav>

    <div class="content">
        {% block content %}
        <div class="row">
            <div class="col-md-6">
                <!-- Contenido principal de tu página -->
                <img src="{% static 'images/inventario.png' %}" alt="Inventario de Ropa" width="400" class="img-fluid">
                <h2>Adrile Boutique</h2>
                <p>Tu tienda de moda para todas las ocasiones.</p>
            </div>
            <div class="col-md-6">
                <!-- Formulario de inicio de sesión -->
                <div class="card shadow cardLogin p-3">
                    <div class="card-header bg-dark text-white">
                        <h4 class="text-center mt-2 canter"><i class="fa fa-solid fa-user fa-2xl iconoUser"></i></h4>
                    </div>
                    {% if error_message %}
                    <script>
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        
                        toastr.error('{{error_message}}');
                    </script>
                    {% endif %}
                    <div class="card-body">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-floating">
                                <input type="text" class="form-control" id="username" name="username" maxlength="150"
                                    placeholder="Usuario" required />
                                <label for="id_username"><i class="fa-solid fa-user fa-beat-fade"></i> Usuario</label>
                            </div>
                            <div class="form-floating mt-3">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="contraseña" required />
                                </i><label for="id_password"><i class="fa-solid fa-key fa-beat-fade"></i>
                                    Contraseña</label>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me">
                                <label class="form-check-label" for="remember_me">Recuérdame</label>
                            </div>
                            <div class="form-floating col mt-3 text-center"><button type="submit"
                                    class="btn btn-primary btn-block canter2">
                                    <i class="fa fa-sign-in"></i>
                                    &nbsp; Iniciar Sesión</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col mt-3 text-center">
                                <a href="#" class="link-secondary"> Olvido su contraseña ? </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerLogin">
                    <div class="col">
                        <small><a
                                href="https://www.freepik.es/vector-gratis/fondo-monocromatico-blanco-estilo-papel_15518074.htm#query=fondo&position=1&from_view=keyword&track=sph"
                                class="link-dark">Imagen
                                de pikisuperstar</a><span class="text-black"> en Freepik </span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    <footer class="d-flex bg-dark text-white align-items-center justify-content-center">
        {% block footer %}
        <div>
            <p class="text-white ">&copy; 2023 Devs Aprendices SENA</p>
        </div>
        {% endblock %}
    </footer>
</body>

</html>