{% extends 'inventario/index.html'%}
{% block contenido %}

<div class="row mb-2 mx-1">
    <h1 class="text-center">Stock de Productos</h1>
</div>

<div class="row mx-1">
    <div class="col d-flex justify-content-md-evenly mb-2">
        <button type="button" class="btn btn-primary mx-1" onclick="history.back()">
            <i class="fa-solid fa-arrow-left"></i>
            volver
        </button>
        <button type="button" class="btn btn-primary mx-1" onclick="location.href='/dashboard/'">
            <i class="fa-solid fa-ban"></i>
            Cancelar
        </button>
    </div>
</div>

<div class="row justify-content-center mx-1">
    <div class="col-10">
        <table id="productosTable" class="display" style="width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Nueva</th>
                    <th>opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>
                        <span id="original-cantidad-{{ producto.id }}">{{ producto.cantidad_stock }}</span>
                    </td>
                    <td>
                        <input type="number" class="rounded" id="edit-cantidad-{{ producto.id }}" min="0">
                    </td>
                    <td>
                        <button class="btn buttons" onclick="change_stock('{{ producto.id }}')">Editar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script>
    var dataTable;
    document.addEventListener("DOMContentLoaded", function () {
        dataTable = $('#productosTable').DataTable({
            "language": {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-CO.json"
            },
            "paging": false,
            "scrollCollapse": true,
            "scrollY": "40vh",
            responsive: true
        });
    });

    function change_stock(id) {
        var cantidadInput = document.getElementById("edit-cantidad-" + id);
        var originalCantidad = document.getElementById("original-cantidad-" + id);

        if (cantidadInput.value >= 0) {
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';
            axios.patch(`/api/productos/${id}/`, { "cantidad_stock": cantidadInput.value })
                .then(function (response) {
                    // Actualiza la cantidad original para reflejar los cambios
                    originalCantidad.textContent = cantidadInput.value;
                    console.log(response);
                    cantidadInput.value = ""
                })
                .catch(function (error) {
                    // Maneja errores si es necesario
                    console.error(error);
                });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Ingresa un número positivo o cero.',
                confirmButtonColor: '#0d6efd',
            })
            cantidadInput.value = originalCantidad.textContent;
        }
    }

</script>

{% endblock %}