<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <h2>Recuperación de Contraseña</h2>
    <p>Haz clic en el siguiente enlace para restablecer tu contraseña:</p>

    <a href="{{ custom_password_reset }}"> {{ custom_password_reset }} recuperear</a>

    <p>Si no has solicitado esta recuperación de contraseña, puedes ignorar este mensaje.</p>
    <p>Gracias,</p>
    <p>Tu Equipo de Soporte</p>
</body>
</html>