{% load static %}
<link rel="stylesheet" href="{% static 'css/frm.css' %}">
<div class="container-fluid mb-2 mt-2">
     <div class="row bg-dark d-flex rounded align-items-center">
          <div class="col-md-1 align-item-center">
               <img src="{% static 'images/imageLogo.png' %}" alt="logo" width="100" class="p-2"> 
          </div>
          <div class="col">
               <h1 class="display-5 font-weight-bold text-light" id="title">
                    Gestión Inventario - Adrile Boutique
               </h1>
          </div>
          <div class="col-md-1 d-flex align-items-center">
                    <i class="fas fa-shoe-prints fa-2x p-2"></i>
          </div>
     </div>

</div>