{% extends 'inventario/index.html'%}

{% block contenido %}
{% load static %}
<script src="{% static '/js/categorias.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/frm.css' %}">

<div class="">
  <h1 class="text-center"> Categorías </h1>
</div>
<hr>
<div class="">
  <div class="col d-flex justify-content-md-evenly mb-2">
    <button type="button" class="btn buttons mx-1" onclick="history.back()">
      <i class="fa-solid fa-arrow-left"></i>
      volver
    </button>
    <button type="button" class="btn buttons " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="fa-solid fa-plus"></i>
      Agregar
    </button>
    <button type="button" class="btn buttons mx-1" onclick="location.href='/dashboard/'">
      <i class="fa-solid fa-ban"></i>
      Cancelar
    </button>
  </div>
</div>

<hr class="shadow bg-white">

<div class=" d-flex justify-content-center">
  <div class="col-10">

    <table class="table table-dark display nowrap" id="tableCat">
      <thead>
        <tr>
          <th>#</th>
          <th>Categoría</th>
          <th>Imagen</th>
          <th>Cat. Padre(Opcional)</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody id="tabla"></tbody>
    </table>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Categorías</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row d-grid justify-content-center">
          <form>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="row">

              <div class="col mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="txtNombre" name="txtNombre"
                    placeholder="Nombre Categorias" required>
                  <label for="txtNombre" class="form-label"><small>Nombre de la Categorías: </small></label>
                </div>
              </div>

              <div class="col mb-3">
                <div class="form-floating">
                  <select name="" id="cbCategoriaPadre" class="form-select">
                    <!-- categorias -->
                  </select>
                  <label for="cbCategoriaPadre">Categoria Padre(Opcional): </label>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col mb-3">
                <div class="form-floating">
                  <div class="input-group">
                    <input type="file" class="form-control" name="fileFoto" id="fileFoto" accept="image/*"
                      onchange="imagen()" required>
                    <label class="input-group-text" for="fileFoto"><small>Imagen</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col mb-3 d-flex justify-content-center">
                <div id="imageContainer">
                  <img id="uploadedImage" alt="Imagen cargada" width="100" height="100" style="display: none;"
                    onclick="vistaImagenFrm()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col mb-3">
            <button type="button" class="btn buttons mx-1" onclick="agregarCat()" title="Agregar">
              <i class="fa-solid fa-plus fa-sm"></i>
            </button>
            <button type="button" class="btn buttons mx-1" onclick="modificarCat()" title="Modificar">
              <i class="fa-solid fa-pen-to-square fa-sm"></i>
            </button>
            <button type="button" class="btn buttons mx-1" onclick="eliminarCat()" title="Eliminar">
              <i class="fa-solid fa-trash fa-sm"></i>
            </button>
            <button type="reset" class="btn buttons mx-1" onclick="limpiar()" data-bs-dismiss="modal" title="cancelar">
              <i class="fa-solid fa-ban fa-sm"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}