{% extends 'inventario/index.html'%} {% block contenido %} {% load static %}
<div class="row mt-3 mx-3">
    <h3>Entrada de Productos</h3>
</div>
<hr>

<div class="col">
    <a class="btn buttons fw-bold" href="{% url 'proveedores' %}"><i class="fa-solid fa-circle-plus"></i>
        Crear Proveedor
    </a>
    <a class="btn buttons fw-bold" href="{% url 'productos' %}"><i class="fa-solid fa-circle-plus"></i>
        Crear Producto
    </a>
</div>

<div class="row justify-content-center mx-2">
    <div class="col">
        <div class="form-floating ">
            <select name="proveedor" id="cbProveedor" class="form-select">
                <option value="">Selecciona un proveedor</option>
                {% for proveedor in proveedores %}
                <option value="{{ proveedor.id }}">{{ proveedor.nombre_empresa}}</option>
                {% endfor %}
            </select>
            <label for="proveedor" class="form-label">Proveedor:</label>
        </div>
    </div>

    <div class="col">
        <div class="form-floating">
            <select id="cbProducto" name="producto_id" class="form-select">
                <option value="">Selecciona un producto</option>
                {% for producto in productos %}
                <option data-proveedor="{{ producto.proveedor_id }}" value="{{ producto.id }}">{{ producto.nombre }}
                </option>
                {% endfor %}
            </select>
            <label for="product_name" class="form-label">Producto:</label>
        </div>
    </div>
</div>
<div class="row justify-content-center mx-2">
    <div class="col">
        <div class="form-floating">
            <input type="number" id="txtCantidad" name="cantidad" placeholder="cantidad" class="form-control">
            <label for="cantidad" class="form-label">cantidad:</label>
        </div>
    </div>

    <div class="col">
        <div class="form-floating">
            <input type="number" id="txtPrecio" name="precio" placeholder="Precio" class="form-control">
            <label for="precio" class="form-label">Precio unitario:</label>
        </div>
    </div>
</div>

<div class="row justify-content-center mx-2">
    <div class="col">
        <button id="agregar-producto" class="btn buttons fw-bold">
            Agregar Producto
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="productos-seleccionados" class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se mostrarán los productos seleccionados -->
            </tbody>
        </table>
    </div>
</div>
<p>
    Total: <span id="total"></span>
</p>
    
<div class="row mx-2">
    <div class="col d-flex justify-content-center mt-3">
        <button id="crear-entrada" type="button" class="btn buttons mx-1 mt-3 fw-bold">Crear entrada</button>
    </div>
    <div class="col d-flex justify-content-center mt-3">
        <button id="cancelar-entrada" type="button" class="btn buttons mx-1 mt-3 fw-bold" >cancelar entrada</button>
    </div>
</div>
<hr>
<script src="{% static 'js/entrada.js' %}"></script>
{% endblock %}