{% extends 'inventario/index.html' %} {% block contenido %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/frm.css' %}">
<div class="row rounded p-3 d-flex justify-content-center align-items-center">
    <div class="col"></div>
</div>
<div class="bg-white rounded p-2" id="profile-section">
    <h1>Informacion de Usuario</h1>
    <form action="/actualizarPerfil/{{user.id}}" enctype="multipart/form-data" method="post" class="needs-validation"
        novalidate>
        {% csrf_token %}
        <div class="row d-flex">
            <div class="col">
                <div class="image-upload text-center mb-3">
                    <label for="fileFoto">
                        <img src="/media/{{ usuario.fotoPerfil }}" alt="Foto de perfil" id="uploadedImage">
                    </label>
                    <input type="file" name="fileFoto" id="fileFoto" placeholder="Seleccione Imagen" accept="image/*"
                        alt="Click para subir Imagen" title="Click aquí para subir tu foto" onchange="viewImage()">
                </div>
            </div>
            <div class="col d-grid align-items-center">
                <div class="form-floating mb-3">
                    <input type="text" id="user" placeholder="usuario" class="form-control"
                        value="{{usuario.username}}">
                    <label for="user" class="form-label">Usuario:</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" id="name" placeholder="nombre" class="form-control"
                        value="{{usuario.first_name}}">
                    <label for="name" class="form-label">Nombres:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" id="last" placeholder="apellido" class="form-control"
                        value="{{ usuario.last_name }}">
                    <label for="last" class="form-label">Apellidos:</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" id="email" placeholder="correo" class="form-control" value="{{ usuario.email}}">
                    <label for="email" class="form-label">Correo Electrónico:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" id="phone" placeholder="telefono" class="form-control"
                        value="{{ usuario.telefono }}">
                    <label for="phone" class="form-label">Teléfono:</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="text" id="address" placeholder="direccion" class="form-control"
                        value="{{ usuario.direccion}}">
                    <label for="address" class="form-label">Dirección:</label>
                </div>
            </div>
        </div>

        {% comment %}
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <p>Click en la imagen para modificar la foto.</p>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input type="password" id="current_password" name="current_password" class="form-control"
                        placeholder="Contraseña Actual">
                    <label for="current_password" class="form-label">Contraseña Actual:</label>
                </div>
            </div>
        </div>
        {% endcomment %}

        {% comment %}
        <div class="row">
            <div class="col text-center">
                <button id="edit-button" type="submit" class="btn links btn-outline-secondary">Editar</button>
            </div>
        </div> {% endcomment %}
    </form>
</div>
<!-- pattern="[a-zA-Z]+"  -->
{%if mensaje%}
<script>
    Swal.fire('Mensaje', '{{mensaje}}', 'success');
</script>
{%endif%}
</div>

<script>
    function viewImage() {
        let img = fileFoto.files[0];
        console.log(img);
        if (img) {
            const reader = new FileReader();
            reader.onload = function (e) {
                uploadedImage.src = e.target.result;
                uploadedImage.style.display = 'block';
            };
            reader.readAsDataURL(img);
        }
    }
</script>
{% endblock %}